<h1>Create new Goal</h1>

<form  action="<%= user_goals_url  %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  
  <label>
  Title:
  <input type="text" name="goal[title]" value="">
  </label>
  <br>
  <label>
  Body:
  <textarea name="goal[body]" rows="8" cols="80"></textarea>
  </label>
  <label>Private?
    <input type="checkbox" name="goal[public]" value="false">
  </label>
  <label>Completed?
    <input type="checkbox" name="goal[completed]" value="true">
  </label>
  
  <input type="submit" name="" value="New Goal">
  
  
</form>